<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.br.app.mapper.informationcenter.InquiryMapper">


  <insert id="insertInquiry" parameterType="com.br.app.domain.informationcenter.InquiryDTO">
    <selectKey keyProperty="inquiryID" resultType="long" order="BEFORE">
      SELECT INQUIRY_SEQ.NEXTVAL FROM DUAL
    </selectKey>

    INSERT INTO INQUIRY (
      INQUIRY_ID,
      COUNSEL_TYPE,
      DETAIL_TYPE,
      TITLE,
      OCCUR_DATE,
      CONTENT,
      NAME,
      PHONE,
      EMAIL,
      POST_PW,
      REG_DATE,
      USER_ID,
      STORE_ID
    ) VALUES (
      #{inquiryID},
      #{counselType},
      #{detailType},
      #{title},
      #{occurDate, jdbcType=TIMESTAMP},
      #{content, jdbcType=CLOB},
      #{name, jdbcType=VARCHAR},
      #{phone, jdbcType=VARCHAR},
      #{email, jdbcType=VARCHAR},
      #{postPw, jdbcType=VARCHAR},
      SYSDATE,
      #{userID, jdbcType=VARCHAR},
      #{storeID, jdbcType=NUMERIC}
    )
  </insert>

 
  <select id="selectMyInquiryList"
          parameterType="map"
          resultType="com.br.app.domain.informationcenter.InquiryListDTO">
    SELECT
      i.INQUIRY_ID   AS inquiryID,
      i.REG_DATE     AS regDate,
      i.OCCUR_DATE   AS occurDate,
      i.COUNSEL_TYPE AS counselType,
      i.DETAIL_TYPE  AS detailType,
      i.TITLE        AS title,
      a.ANSWER       AS answer
    FROM INQUIRY i
    LEFT JOIN INQUIRY_ANSWER a
      ON i.INQUIRY_ID = a.INQUIRY_ID
    WHERE i.USER_ID = #{userId}
    ORDER BY i.REG_DATE DESC
  </select>

 
  <select id="selectInquiryView"
          parameterType="map"
          resultType="com.br.app.domain.informationcenter.InquiryViewDTO">
    SELECT
      i.INQUIRY_ID   AS inquiryID,
      i.COUNSEL_TYPE AS counselType,
      i.DETAIL_TYPE  AS detailType,
      i.TITLE        AS title,
      i.OCCUR_DATE   AS occurDate,
      i.CONTENT      AS content,
      i.REG_DATE     AS regDate,
      i.STORE_ID     AS storeID,
      s.STORE_NAME   AS storeName,
      a.ANSWER       AS answer,
      a.REG_DATE     AS answerDate
    FROM INQUIRY i
    LEFT JOIN STORE s
      ON i.STORE_ID = s.STORE_ID
    LEFT JOIN INQUIRY_ANSWER a
      ON i.INQUIRY_ID = a.INQUIRY_ID
    WHERE i.INQUIRY_ID = #{inquiryId}
      AND i.USER_ID = #{userId}
  </select>

</mapper>
