<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.br.app.mapper.informationcenter.NoticeMapper">


  <resultMap id="noticeMap" type="com.br.app.domain.informationcenter.NoticeDTO">
    <id     column="NOTICE_ID" property="noticeID"/>
    <result column="NOTICE_NO" property="noticeNO"/>
    <result column="TITLE"     property="title"/>
    <result column="CONTENT"   property="content"/>
    <result column="REG_DATE"  property="regDate"/>
  </resultMap>

  
  <select id="selectList" resultMap="noticeMap">
    SELECT *
    FROM (
      SELECT ROWNUM rn, n.*
      FROM (
        SELECT NOTICE_ID,
               NOTICE_NO,
               TITLE,
               REG_DATE
        FROM NOTICE
        ORDER BY REG_DATE DESC
      ) n
    )
    WHERE rn BETWEEN #{startRow} AND #{endRow}
  </select>

  <select id="getTotalCount" resultType="int">
    SELECT COUNT(*)
    FROM NOTICE
  </select>


  <select id="selectOne" resultMap="noticeMap">
    SELECT NOTICE_ID,
           NOTICE_NO,
           TITLE,
           CONTENT,
           REG_DATE
    FROM NOTICE
    WHERE NOTICE_ID = #{noticeID}
  </select>

</mapper>
